{% extends "base.html" %}

{% block content %}
  <section class="project-view">
    <h1>{{ name }}</h1>
    <p class="description">{{ description }}</p>
    {% if github %}
    <p class="project-link">
      🔗 <a href="{{ github }}" target="_blank">Voir sur GitHub</a>
    </p>
    {% endif %}

    {% if image %}
    <div class="project-image">
      <img src="{{ base_url }}{{ image }}" alt="{{ name }}">
    </div>
    {% endif %}

    {% if tech_stack %}
    <h2>🧑‍💻 Technologies mobilisées</h2>
    <ul class="tech-stack">
      {% for tech in tech_stack %}
      <li class="tech-item">
        <span class="tech-label">{{ tech.label }}</span>
        
        <span class="tech-stars" aria-label="Complexité {{ tech.complexity }} sur 5">
        {% for i in range(1, 6) %}
          <span class="star {% if i <= tech.complexity %}filled{% endif %}">★</span>
        {% endfor %}
      </span>
      </li>
      {% endfor %}
    </ul>
    {% endif %}


    {% if extra_content %}
    <div class="project-extra-content">
      {% include extra_content %}
    </div>
    {% endif %}

    {% if content %}
    <div id="markdown-content" class="markdown-section" style="display:none;">
      <!-- rendu Markdown injecté ici -->
      {{ content | safe }}
    </div>
    {% endif %}
  </section>
{% endblock %}
